{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Docket{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
  <script src="{% static 'axios.js' %}"></script>
  <script src="{% static 'riot.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'bower_components/rome/dist/rome.min.css' %}" />
  <script src="{% static 'bower_components/rome/dist/rome.standalone.min.js' %}"></script>
  {% block morescripts %}{% endblock morescripts %}
</head>
<body>

{% include "includes/navbar.html" %}
{% block content %}{% endblock %}
{% include "includes/footer.html" %}

{% block extra_scripts %}{% endblock extra_scripts %}
</body>
</html>
