{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}

{% block content %}
	<title>Docket</title>

    <div id='header'>
        <div id='title'>Docket</div>
        <div class='buttons' id='signIn'>
            <div id='signBG'></div>
            <div id='signTxt'>Sign In</div>
        </div>
        <div class='buttons' id='signUp'>
            <div id='signTxt'>Sign Up</div>
        </div>
    </div>
    <form id='loginForm' method='POST'>
    <div id='loginStuff'>
        {% csrf_token %}
        <div id='username'>Username</div>
    	{{ form.username|addcss:"user" }}
        <div id="password">Password</div>
        {{ form.password|addcss:"pass" }}
        <button id='submit'>Log In</button>
        <a href="/accounts/register">Register for an account</a>
    </div> 
{% endblock %}